@chartset "UTF-8"

* {
  margin: 0;
  padding: 1em;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(214, 122, 127);
}
div {
  border: 2px solid rgb(214, 122, 127);
}
nav {
  display: flex; 
  justify-content: space-between;
  width: 100%;
  border: 2px solid rgb(214, 122, 127);
}

header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
}

.show-on-scroll {
  justify-content: space-between;
  width: 100%;
}



