@chartset "UTF-8"

* {
  margin: 0;
  padding: 0;
  border-color: rgb(214, 122, 127);
}

body {
  min-height: 100vh;
  display: flex;
  align-items: start;
}
.navegator {
  display: flex; 
  justify-content: space-between;
  width: 100%;
}
